<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

  可在 <httpRuntime> 标记上设置以下特性。
    <system.Web>
      <httpRuntime targetFramework="4.5" />
    </system.Web>
  -->
<configuration>
  <!--=================== 配置块声明开始 ===================-->
  <configSections>
    <!-- EntityFramework配置节点声明 For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--Routing配置节点声明-->
    <section name="routing" type="Micua.Core.Routing.Configuration.RouteConfigurationSection, Micua.Core" />
    <!--IoC框架配置节点解析声明-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!--Glimpse框架配置节点解析声明-->
    <!--<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />-->
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--=================== 配置块声明结束 ===================-->
  <!--=================== Web配置节点开始 ===================-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!-- 运行时配置 -->
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" />
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms -->
    <!-- <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <!-- Remove Unused HttpModule -->
      <!-- <remove name="Session" /> -->
      <remove name="RoleManager" />
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="ServiceModel" />
      <!-- MicuaHttpModule注册 -->
      <!-- <add name="TracingModule" type="Micua.Core.Tracing.Module.TracingModule, Micua.Core" /> -->
      <!-- GlimpseHttpModule注册 -->
      <!--<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />-->
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <!-- 自定义错误配置 -->
    <!-- <customErrors mode="On" defaultRedirect="Error"/> -->
    <!-- <customErrors mode="On" defaultRedirect="~/Shared/Error">
      <error redirect="~/Shared/Error" statusCode="404" />
    </customErrors> -->
    <!-- 全球化配置 -->
    <globalization enableClientBasedCulture="true" fileEncoding="utf-8" culture="zh-CHS" uiCulture="zh-CHS" />
    <!-- 输出缓存配置 -->
    <!-- <caching>
      <outputCache defaultProvider="RamFileCache">
        <providers>
          <add name="RamFileCache" type="Micua.Core.Cache.MicuaOutputCacheProvider, Micua.Core" />
        </providers>
      </outputCache>
    </caching> -->
    <!-- Session状态配置 -->
    <sessionState cookieName="MICUA_SESSIONID" />
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <!--=================== Web配置节点结束 ===================-->
  <!--=================== Web(IIS7以上)配置节点开始 ===================-->
  <system.webServer>
    <!-- 验证是否为集成模式 -->
    <!--HTTP模块配置(IIS7以上) -->
    <modules>
      <!-- Remove Unused HttpModule -->
      <!-- <remove name="Session" /> -->
      <remove name="RoleManager" />
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="ServiceModel" />
      <!-- MicuaHttpModule注册 -->
      <!-- <add name="TracingModule" type="Micua.Core.Tracing.Module.TracingModule, Micua.Core" /> -->
      <!-- GlimpseHttpModule注册 -->
      <!--<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />-->
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <!-- 请求处理程序配置 -->
    <!-- HTTP管道配置 -->
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="Server" />
        <add name="X-Powered-By" value="WEDN.NET" />
      </customHeaders>
    </httpProtocol>
    <!-- 输出缓存配置 -->
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <!--=================== Web(IIS7以上)配置节点结束 ===================-->
  <!--=================== 数据库配置节点开始 ===================-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <!-- <remove invariant="System.Data.SQLite" /> -->
      <!-- <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /> -->
      <!-- <remove invariant="System.Data.SQLite.EF6" /> -->
      <!-- <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" /> -->
    </DbProviderFactories>
  </system.data>
  <!--=================== 数据库配置节点结束 ===================-->
  <!--=================== 引入自定义配置节点开始 ===================-->
  <!-- 连接字符串配置节点引入 -->
  <connectionStrings configSource="Configs\connectionStrings.config" />
  <!-- 应用程序配置节点开始 -->
  <appSettings configSource="Configs\appSettings.config" />
  <!-- Routing配置节点引入 -->
  <routing configSource="Configs\routing.config" />
  <!-- IoC配置节点引入 -->
  <unity configSource="Configs\unity.config" />
  <!-- EntityFramework配置节点引入 -->
  <entityFramework configSource="Configs\ef.mssql.config">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- Glimpse配置节点引入 -->
  <!--<glimpse configSource="Configs\glimpse.config" />-->
  <!--=================== 引入自定义配置节点结束 ===================-->
  <!--=================== 运行时配置节点开始 ===================-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins/Bin/" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--=================== 运行时配置节点结束 ===================-->
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
</configuration>