<aside class="sidebar">
    <section class="widget">
        <h4>最近文章</h4>
        <ul>
            <li><a href="#">母猪的产后护理</a></li>
            <li><a href="#">XXX从入门到精通</a></li>
            <li><a href="#">钢铁是怎样炼成</a></li>
        </ul>
    </section>
    <section class="widget">
        <h4>文章归档</h4>
        <ul>
            <li><a href="#">2014年7月</a></li>
            <li><a href="#">2014年6月</a></li>
            <li><a href="#">2014年5月</a></li>
            <li><a href="#">2014年4月</a></li>
        </ul>
    </section>
</aside>