<?xml version="1.0" encoding="utf-8" ?>
<bundle xmlns="http://schemas.wedn.net/config/bundle/2014">

  <styles>
    <item path="~/bundles/css/bootstrap">
      <file>~/assets/lib/bootstrap/css/bootstrap.css</file>
    </item>
    <item path="~/bundles/css/font-awesome">
      <file>~/assets/lib/font-awesome/css/font-awesome.css</file>
    </item>
    <item path="~/bundles/css/metisMenu">
      <file>~/assets/lib/metisMenu/metisMenu.css</file>
    </item>
    <item path="~/bundles/css/animate">
      <file>~/assets/lib/animate/animate.css</file>
    </item>
    <item path="~/bundles/css/dashboard">
      <file>~/themes/default/assets/css/dashboard.css</file>
      <file>~/themes/default/assets/css/timeline.css</file>
    </item>
  </styles>

  <scripts>
    <item path="~/bundles/js/jquery">
      <file>~/assets/lib/jquery/jquery-2.1.3.js</file>
      <file>~/assets/lib/cookie/jquery.cookie.js</file>
    </item>
    <item path="~/bundles/js/bootstrap">
      <file>~/assets/lib/bootstrap/js/bootstrap.js</file>
    </item>
    <item path="~/bundles/js/metisMenu">
      <file>~/assets/lib/metisMenu/metisMenu.js</file>
    </item>
    <item path="~/bundles/js/html5shiv">
      <file>~/assets/lib/html5shiv/html5shiv.js</file>
    </item>
    <item path="~/bundles/js/respond">
      <file>~/assets/lib/respond/respond.js</file>
    </item>
    <item path="~/bundles/js/flot">
      <file>~/assets/lib/flot/jquery.flot.js</file>
      <file>~/assets/lib/flot/jquery.flot.resize.js</file>
      <file>~/assets/lib/flot/jquery.flot.pie.js</file>
    </item>
    <item path="~/bundles/js/validate">
      <file>~/assets/lib/validate/jquery.validate.js</file>
      <file>~/assets/lib/validate/additional-methods.js</file>
    </item>
    <item path="~/bundles/js/toastr">
      <file>~/assets/lib/toastr/toastr.js</file>
    </item>
    <item path="~/bundles/js/chart">
      <file>~/assets/lib/chart.js/chart.js</file>
    </item>
    <item path="~/bundles/js/dashboard">
      <file>~/themes/default/assets/js/dashboard.js</file>
    </item>
  </scripts>
</bundle>