<?xml version="1.0" encoding="utf-8" ?>
<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
  <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  <!--<tabs>
    <ignoredTypes>
      <add type="Glimpse.Ado.Tab.SQL, Glimpse.Ado" />
    </ignoredTypes>
  </tabs>
  <runtimePolicies>
    <ignoredTypes>
      <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
    </ignoredTypes>
  </runtimePolicies>-->
</glimpse>