<?xml version="1.0" encoding="utf-8" ?>
<micua xmlns="http://schemas.wedn.net/config/2014">
  <!--sqlserver db-->
  <add key="db_host" value="127.0.0.1"/>
  <add key="db_port" value="1433"/>
  <add key="db_name" value="Micua"/>
  <add key="db_integrated_auth" value="true"/>
  <add key="db_username" value=""/>
  <add key="db_password" value=""/>
  <add key="db_min_pool_size" value="0"/>
  <add key="db_max_pool_size" value="200"/>
  <add key="db_connect_timeout" value="400"/>
  <add key="db_provider_name" value="System.Data.SqlClient"/>
  <add key="db_table_prefix" value=""/>
  <add key="db_column_prefix" value=""/>
  <add key="db_table_plural" value="false"/>

  <add key="trace_config_file" value="trace.config"/>
  <add key="bundle_config_file" value="bundle.config"/>
  
  <add key="theme_root" value="/Themes/"/>
  <add key="template_content_placeholder" value="CONTENT_PLACEHOLDER"/>
  <add key="template_layout_name" value="_Layout"/>
  <!--依赖注入容器类型-->
  <add key="dependency_resolver_type_name" value="Micua.Core.IoC.Unity.UnityDependencyResolver, Micua.Core"/>
</micua>
<!--
<add key="db_server" value="localhost"/>
<add key="db_name" value="Micua"/>
<add key="db_integrated_auth" value="false"/>
<add key="db_user" value="root"/>
<add key="db_password" value="wanglei"/>
<add key="db_min_pool_size" value="0"/>
<add key="db_max_pool_size" value="200"/>
<add key="db_connect_timeout" value="40"/>
<add key="db_provider_name" value="MySql.Data.MySqlClient"/>
<add key="db_table_prefix" value=""/>
<add key="db_column_prefix" value=""/>
<add key="db_server" value="D:\Data\micua.db"/>
<add key="db_provider_name" value="System.Data.SQLite"/>
<add key="db_table_prefix" value=""/>
<add key="db_column_prefix" value=""/>

-->