<?xml version="1.0" encoding="utf-8"?>
<routing xmlns="http://schemas.wedn.net/config/route/2014" extend="/">
  <ignores>
    <add url="{resource}.axd/{*pathInfo}" />
    <add url="assets/{*pathInfo}" />
    <add url="contents/{*pathInfo}" />
    <add url="favicon.ico" />
  </ignores>
  <maps default="/" enable="true">
    <!--<route name="page" domain="www.micua.me" url="page/{page}" controller="Home" action="Index">
      <parameters>
        <add name="page" value="" constraint="" />
      </parameters>
      <namespaces>
        <add value="Micua.Application.Controllers"/>
      </namespaces>
    </route>
    <route name="detail" domain="www.micua.me" url="post/{item}" controller="Post" action="Detail">
      <parameters>
        <add name="item" value="" constraint="" />
      </parameters>
      <namespaces>
        <add value="Micua.Application.Controllers"/>
      </namespaces>
    </route>
    <route name="demo" domain="www.micua.me" url="demo/{item}" controller="Demo" action="Index">
      <parameters>
        <add name="demo" value="" constraint="" />
      </parameters>
      <namespaces>
        <add value="Micua.Application.Controllers"/>
      </namespaces>
    </route>
    <route name="default" domain="www.micua.me" url="{controller}/{action}" controller="Home" action="Index">
      <namespaces>
        <add value="Micua.Application.Controllers"/>
      </namespaces>
    </route>-->
    <!--<map name="test" domain="{lang}.micua.me" url="{controller}/{action}" controller="Home" action="Index"/>-->
    <!-- 缺省默认路由 -->
    <map name="default" url="{controller}/{action}" controller="Home" action="Index"/>
  </maps>
  <areas enable="true">
    <!-- 博客区域 -->
    <area name="blog">
      <route name="default" url="blog/{controller}/{action}" controller="Default" action="Index">
        <namespaces>
          <add value="Micua.Plugins.Blog.Controllers"/>
        </namespaces>
      </route>
      <!--<route name="default" domain="account.micua.me" url="{action}" controller="Default" action="Index"/>-->
    </area>
    <!-- 账户中心区域 -->
    <area name="account">
      <route name="default" url="account/{action}" controller="Default" action="Index">
        <namespaces>
          <add value="Micua.Plugins.Account.Controllers"/>
        </namespaces>
      </route>
      <!--<route name="default" domain="account.micua.me" url="{action}" controller="Default" action="Index"/>-->
    </area>
    <!-- 管理中心区域 -->
    <area name="admin">
      <route name="default" url="admin/{controller}/{action}" controller="Dashboard" action="Index">
        <namespaces>
          <add value="Micua.Plugins.Admin.Controllers"/>
        </namespaces>
      </route>
      <!--<route name="default" domain="admin.micua.me" url="{controller}/{action}" controller="Dashboard" action="Index"/>-->
    </area>
    <!-- 管理中心区域 -->
    <!--<area name="demo">
      <route name="default" url="demo/{controller}/{action}" controller="Default" action="Index">
        <namespaces>
          <add value="Micua.Plugins.Demo.Controllers"/>
        </namespaces>
      </route>
    </area>-->
    <!--<area name="Account">
      <route name="default" domain="account.micua.me" url="{action}" controller="Default"/>
    </area>
    <area name="Admin">
      <route name="default" domain="admin.micua.me" url="{controller}/{action}/{item}" controller="Dashboard" action="Index">
        <parameters>
          <add name="item" value="" constraint="[a-z\-]+" />
        </parameters>
      </route>
    </area>-->
  </areas>
</routing>