<#@ template language="C#" hostspecific="true"#><#@ include file="../../../../Utilities.ttinclude"#><#@ output extension=".cs"#>// +----------------------------------------------------------------------
// | Micua [ DO IT BATTER ! ]
// +----------------------------------------------------------------------
// | Copyright © 2014 Wedn.Net. All Rights Reserved.
// +----------------------------------------------------------------------
// | Summary : 仓储接口实现 <IRepository>
// +----------------------------------------------------------------------
// | Author  : iceStone <ice@wedn.net>
// +----------------------------------------------------------------------
namespace Micua.Domain.Repository
{
    using Micua.Domain.Model;
<#foreach(var item in EntityTypes){#>

    /// <summary>
    /// <#=item.Name#>表 操作类接口 I<#=item.Name#>Repository
    /// </summary>
    /// <remarks>
    ///  2013-11-18 19:06 Created By iceStone
    ///  <#=DateTime.Now.ToString("yyyy-MM-dd HH:mm")#> Modified By iceStone
    /// </remarks>
    public partial interface I<#=item.Name#>Repository : IRepository<int, <#=item.Name#>> { }
<#}#>}
