<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="MicuaContext" connectionString="Data Source=42.96.199.139;Initial Catalog=Micua;user id=sitemap;password=123456;" providerName="System.Data.SqlClient" />-->
    <add name="MicuaContext--" connectionString="Data Source=(local);Initial Catalog=Micua;user id=sa;password=wanglei;" providerName="System.Data.SqlClient" />
    <add name="MicuaContext--" connectionString="Data Source=localhost;port=3306;Initial Catalog=Micua;user id=root;password=wanglei;" providerName="MySql.Data.MySqlClient" />
    <add name="TestContainer" connectionString="metadata=res://*/Test.Test.csdl|res://*/Test.Test.ssdl|res://*/Test.Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=TestEF;integrated security=True;min pool size=0;max pool size=200;connect timeout=40;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />-->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>