/**
 * Table of Contents:
 *
 * 1.0 - 默认重置
 * 2.0 - 基本设置
 * 3.0 - Bootstrap
 *   3.1 - Bootstrap 拓展
 *   3.2 - Bootstrap 调整
 * 4.0 - 布局
 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 默认重置
 *
 * 干掉那些不用的默认样式
 * 
 * ----------------------------------------------------------------------------
 */
html, body { width: 100%; height: 100%; }
body { background-color: #ededef; }
/**
 * 2.0 系统常用基本样式
 *
 * 一些常用到的工具类
 * 
 * ----------------------------------------------------------------------------
 */


/**
 * 3.0 Bootstrap
 *
 * 基于Bootstrap的扩展
 * 
 * ----------------------------------------------------------------------------
 */

/**
 * 3.1 Bootstrap Extension
 *
 * 基于Bootstrap的扩展
 * 
 * ----------------------------------------------------------------------------
 */

/* #04a4cc, #d64e07, #999, #e5e5e5 */
.navbar-micua { background-color: #405E52; border-color: #92B29A; }
.navbar-micua .navbar-brand { color: #fff; }
.navbar-micua .navbar-brand:hover, .navbar-micua .navbar-brand:focus { color: #e0e0e0; background-color: transparent; }
.navbar-micua .navbar-text { color: #999; }
.navbar-micua .navbar-nav > li > a { color: #fff; }
.navbar-micua .navbar-nav > li > a:hover, .navbar-micua .navbar-nav > li > a:focus { color: #e5e5e5; background-color: transparent; }
.navbar-micua .navbar-nav > li:hover > a, .navbar-micua .navbar-nav > .active > a, .navbar-micua .navbar-nav > .active > a:hover, .navbar-micua .navbar-nav > .active > a:focus { color: #e5e5e5; background-color: #92B29A; }
.navbar-micua .navbar-nav > .disabled > a, .navbar-micua .navbar-nav > .disabled > a:hover, .navbar-micua .navbar-nav > .disabled > a:focus { color: #04a4cc; background-color: transparent; }
.navbar-micua .navbar-toggle { border-color: #e5e5e5; }
.navbar-micua .navbar-toggle:hover, .navbar-micua .navbar-toggle:focus { background-color: #92B29A; }
.navbar-micua .navbar-toggle .icon-bar { background-color: #e5e5e5; }
.navbar-micua .navbar-collapse, .navbar-micua .navbar-form { border-color: #e5e5e5; }
.navbar-micua .navbar-nav > .open > a, .navbar-micua .navbar-nav > .open > a:hover, .navbar-micua .navbar-nav > .open > a:focus { color: #fff; background-color: #92B29A; }

@media (max-width: 767px) {
    .navbar-micua .navbar-nav .open .dropdown-menu > .dropdown-header { border-color: #d64e07; }
    .navbar-micua .navbar-nav .open .dropdown-menu .divider { background-color: #d64e07; }
    .navbar-micua .navbar-nav .open .dropdown-menu > li > a { color: #999; }
    .navbar-micua .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-micua .navbar-nav .open .dropdown-menu > li > a:focus { color: #fff; background-color: transparent; }
    .navbar-micua .navbar-nav .open .dropdown-menu > .active > a, .navbar-micua .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-micua .navbar-nav .open .dropdown-menu > .active > a:focus { color: #fff; background-color: #d64e07; }
    .navbar-micua .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-micua .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-micua .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: #04a4cc; background-color: transparent; }
}

.navbar-micua .navbar-link { color: #999; }
.navbar-micua .navbar-link:hover { color: #fff; }
/*大尺寸brand*/
.navbar-brand.navbar-brand-lg { float: left; font-weight: bold; padding: 13px 15px; font-size: 22px; line-height: 24px; }
/**
 * 3.2 Bootstrap 调整
 *
 * 基于Bootstrap的调整
 * 
 * ----------------------------------------------------------------------------
 */

/**
 * 4.0 布局
 *
 * ----------------------------------------------------------------------------
 */
/**
 * 4.1 整体
 *
 * ----------------------------------------------------------------------------
 */
body { width: 1170px; margin: 0 auto; }
body.wide, body.wide .container { width: 100%; }
#nav { margin-bottom: 0; }

@media (min-width: 768px) {
    body.fixed, body.fixed .container { max-width: 750px; margin-left: auto; margin-right: auto; }
}

@media (min-width: 992px) {
    body.fixed, body.fixed .container { max-width: 980px; margin-left: auto; margin-right: auto; }
    #sidebar { position: relative; float: left; left: auto; margin-bottom: -10px; }
    .sidebar-right #sidebar { float: right; right: 0; }
    #content { overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
}

@media (min-width: 1200px) {
    body.fixed, body.fixed .container { max-width: 1170px; margin-left: auto; margin-right: auto; }
}
/**
 * 4.2 边栏
 *
 * ----------------------------------------------------------------------------
 */
#sidebar { position: absolute; width: 200px; -webkit-transition: left 0.3s ease-in-out 0s; -moz-transition: left 0.3s ease-in-out 0s; -o-transition: left 0.3s ease-in-out 0s; transition: left 0.3s ease-in-out 0s; z-index: 1; background: #405E52; left: -200px; }
#sidebar.opened { left: 0; }
.mini-sidebar #sidebar { width: 50px; }
.sidebar-right #sidebar { left: auto; right: -200px; -webkit-transition: right 0.3s ease-in-out 0s; -moz-transition: right 0.3s ease-in-out 0s; -o-transition: right 0.3s ease-in-out 0s; transition: right 0.3s ease-in-out 0s; }
.sidebar-right #sidebar.opened { left: auto; right: 0; }

@media (min-width: 992px) {
    #sidebar { position: relative; float: left; left: auto; margin-bottom: -10px; }
    .sidebar-right #sidebar { float: right; right: 0; }
}

.user-media { position: relative; color: #fff; }
.user-media > .user-media-toggle { display: none; }
.user-media > .user-wrapper { background-color: #405E52; }
.user-media > .user-wrapper > a { float: left; display: block; margin-left: auto; margin-right: auto; position: relative; }
.user-media > .user-wrapper > a > img { background-color: #fff; max-height: 70px; margin: 8px; padding: 3px; border-radius: 5px; }
.user-media > .user-wrapper > .media-body { display: block; float: left; margin-left: 12px; }
.mini-sidebar .user-media-toggle { font-size: 18px; color: #fff; padding: 10px; text-align: center; cursor: pointer; display: inherit; }
.mini-sidebar .user-media:hover .user-media-toggle { background-color: rgba(50,50,50,0.3); }
.mini-sidebar .user-wrapper { position: absolute; top: 0; left: -100%; display: none; min-width: 200px; z-index: 10; }
.mini-sidebar .user-media:hover .user-wrapper { left: 100%; display: inherit; }
.mini-sidebar.side-right .user-media:hover .user-wrapper { left: auto; right: 100%; }
/**
 * 4.2.1 菜单
 *
 * ----------------------------------------------------------------------------
 */
#menu, #menu ul, #menu li, #menu a { padding: 0; margin: 0; }
#menu, #menu ul { list-style: none; background-color: #405E52; }
#menu li, #menu a { position: relative; display: block; }
#menu a, #menu a:hover, #menu a:focus, #menu a:active { text-decoration: none; }
#menu > li > a { color: #ccc; border-top: 1px solid rgba(50, 50, 50, 0.3); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); padding: 9px 0 10px 15px; }
#menu > li.active > a { background-color: #1a1a1a; color: #fff; -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset; }
#menu > li:hover > a, #menu > li:focus > a { background-color: rgba(0, 0, 0, 0.1); color: #fff; outline: none; -webkit-box-shadow: none; box-shadow: none; }
#menu > li ul { border: 1px solid rgba(127, 122, 102, 0.3); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); border-left-width: 0; background: #405E52; }
#menu > li ul a { padding: 11px 0 11px 30px; color: #ccc; font-size: 13px; }
#menu > li ul a:hover { background-color: rgba(0, 0, 0, 0.1); color: #fff; }

@media (min-width: 992px) {
    body:not(.mini-sidebar) #menu li.active > ul, #menu.affix li > ul { position: relative; top: auto !important; left: auto !important; right: auto !important; }
    body:not(.mini-sidebar) #menu:not(.affix) li.active > ul { display: inherit; }
    #menu li > ul, .mini-sidebar #menu li > ul { position: absolute; top: 0; left: 100%; -webkit-box-shadow: none; box-shadow: none; min-width: 200px; /* z-index: 1; */ }
    #menu:not(.affix) li > ul, .mini-sidebar #menu:not(.affix) li > ul { display: none; }
    .mini-sidebar #menu > li > ul { top: 100%; }
    #menu li > ul > li > ul { top: -1px; }
    .side-right #menu li > ul { left: auto; right: 100%; }
    #menu:not(.affix) li:hover > ul { display: inherit; }
    #menu.affix { position: fixed; top: 0; width: 200px; overflow-x: hidden; overflow-y: hidden; -webkit-overflow-scrolling: touch; }
    #menu.affix:hover { /* overflow-y: scroll; */ }
}

@media (min-width: 992px) {
    .mini-sidebar #menu > li > a .fa { font-size: 18px; }
    .mini-sidebar #menu > li > a .fa.arrow { display: none; }
    .mini-sidebar #menu > li > a .link-title { border: 1px solid rgba(50, 50, 50, 0.3); border-left: 0; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); position: absolute; left: 100%; top: -1px; z-index: 1; background: #405E52; display: none; padding: 9px 30px 10px; }
    .mini-sidebar #menu > li:hover > a > .link-title { display: block; min-width: 200px; }
    .mini-sidebar.side-right #menu > li > a .link-title { border-right-width: 0; border-left: 1px solid rgba(0, 0, 0, 0.3); left: auto; right: 100%; }
}

body:not(.mini-sidebar) #menu .nav-header { padding: 3px 15px !important; text-transform: uppercase; font-weight: bold; font-size: 12px; color: #ccc; border-top: 1px solid rgba(50, 50, 50, 0.3); -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset; -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); }
#menu .nav-divider { border-top: 1px solid rgba(255, 255, 255, 0.01); height: 6px; margin: 0; background: rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset; }
.mini-sidebar #menu .nav-header { position: absolute !important; overflow: hidden !important; width: 1px !important; height: 1px !important; padding: 0 !important; border: 0 !important; clip: rect(1px, 1px, 1px, 1px) !important; }
#menu .fa.arrow { float: right; padding-top: 3px; margin-right: 15px; }
#menu .fa.arrow:before { content: "\f104"; }
#menu .active > a > .fa.arrow:before { content: "\f107"; }
/**
 * 4.3 正文部分
 *
 * ----------------------------------------------------------------------------
 */

.content-hd { padding: 10px 15px; border-bottom: 1px solid #d3d7db; border-top: 1px solid #eee; background: #f7f7f7; position: relative; }

.content-hd h2 { font-size: 28px; color: #405E52; letter-spacing: -0.5px; margin: 0; }

.content-hd .glyphicon,
.content-hd .fa { font-size: 24px; margin-right: 5px; padding: 6px 7px; border: 2px solid #405E52; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }

.content-hd .fa.fa-pencil { padding: 6px 9px; }

.content-hd .fa.fa-hand-o-up { padding: 6px 9px 6px 7px; }

.content-hd .fa-file-o { padding: 6px 10px; }

.content-hd .fa-user { padding: 6px 10px; }

.content-hd .fa-file-text { padding: 6px 10px; `; }

.content-hd .fa-map-marker { padding: 6px 12px; }

.content-hd .fa-dollar { padding: 6px 12px; }

.content-hd .fa-clock-o { padding: 6px 8px; }

.content-hd h2 span { font-size: 13px; text-transform: none; color: #999; font-style: italic; vertical-align: middle; letter-spacing: 0; }

.content-hd h2 span::before { content: '/'; margin: 0 10px 0 5px; color: #ccc; }

.content-hd .breadcrumb-wrapper { position: absolute; top: 19px; right: 25px; }

.content-hd .breadcrumb-wrapper .label { color: #999; text-transform: uppercase; font-size: 11px; font-weight: normal; display: inline-block; }

.content-hd .breadcrumb { background: none; display: inline-block; padding: 0; }

.content-hd .breadcrumb li { font-size: 12px; }

.content-hd .breadcrumb li.active { color: #333; }

.inner { padding: 20px; }
.panel, .panel-success { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #fcfcfc; border: 0; }

.pannel-body { padding: 20px; background: #fcfcfc; }

.mb15 { font-size: 12px; color: #636e7b; }
.progress-sm { height: 14px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.sr-only { display: block; margin-bottom: 10px; }

.sublabel { display: block; font-size: 12px; margin-bottom: 2px; }
