<?xml version="1.0" encoding="utf-8" ?>
<bundle xmlns="http://schemas.wedn.net/config/bundle/2014">
  <scripts>
    <item path="~/assets/js/base.js">
      <file>~/contents/assets/lib/jquery/jquery-1.11.0.js</file>
      <file>~/contents/assets/lib/bootstrap/js/bootstrap.js</file>
      <file>~/contents/assets/lib/cookie/jquery.cookie.js</file>
    </item>
    <item path="~/assets/js/validate.js">
      <file>~/contents/assets/lib/validate/jquery.validate.js</file>
      <file>~/contents/assets/lib/validate/additional-methods.js</file>
    </item>
    <item path="~/assets/js/script.js">
      <file>~/contents/assets/js/funcation.js</file>
      <file>~/contents/assets/js/script.js</file>
    </item>
  </scripts>
  <styles>
    <item path="~/assets/css/base.css">
      <file>~/contents/assets/lib/bootstrap/css/bootstrap.css</file>
      <!--<file>~/contents/assets/css/micua.css</file>-->
    </item>
    <item path="~/assets/css/awesome.css">
      <file>~/contents/assets/lib/awesome/css/font-awesome.css</file>
    </item>
    <item path="~/assets/css/style.css">
      <file>~/contents/assets/css/style.css</file>
    </item>
  </styles>
</bundle>