<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MicuaContext-MSSQL" connectionString="data source=(local);initial catalog=Micua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="MicuaContext-MYSQL" connectionString="Data Source=localhost;port=3306;Initial Catalog=Micua;user id=root;password=wanglei;"
    providerName="MySql.Data.MySqlClient" />
  <add name="MicuaContext" connectionString="Data Source=(local);Initial Catalog=Micua;Integrated Security=True;User ID=;Password=;Min Pool Size=0;Max Pool Size=200;Connect Timeout=40"
    providerName="System.Data.SqlClient" />
</connectionStrings>
