<?xml version="1.0" encoding="utf-8"?>
<routing xmlns="http://schemas.wedn.net/config/route/2014" extend="/">
  <ignores>
    <add url="{resource}.axd/{*pathInfo}" />
    <add url="content/{*pathInfo}" />
    <add url="assert/{*pathInfo}"/>
  </ignores>
  <maps default="/" enable="true">
    <route name="default" domain="www.micua.me" url="{controller}/{action}" controller="Home" action="Index">
      <!--<parameters>
        <add name="item" value="" constraint="[a-z0-9\-]+" />
      </parameters>-->
      <namespaces>
        <add value="Micua.Application.Controllers"/>
      </namespaces>
    </route>
  </maps>
  <!--<areas default="~/blog/index/" enable="true">
    <area name="Admin">
      <route name="default" domain="admin.micua.me" url="{controller}/{action}/{item}" controller="Dashboard" action="Index">
        <parameters>
          <add name="item" value="" constraint="[a-z\-]+" />
        </parameters>
        <namespaces>
          <add value="Micua.Admin.Controllers"/>
        </namespaces>
      </route>
    </area>
  </areas>-->
</routing>